body {
    background-color:  #212529; /* tässä on hex koodi #212529 bootstrapin dark container värille */
    background-image: url("kuvat/tapetti3.png"); 
   background-size: repeat; 
}                           
.info2, #kuva1 {
    
    word-wrap:break-word;
}  
.bgimage {
    height:100vh;
    width: 100%;
    background: url('kuvat/kuva4-4.png');
    background-size:cover;
    background-position: center center;
}
.kortti {
    background-color: #81a4a8a2;
}
svg path {
    fill: white;
}
.otsikko {
    font-size: 3.5vmax;
    text-shadow: black 2px 2px 4px;
    font-family: "Times New Roman", Times, serif ;
    
}
.teksti ,.galleriaKuvaTeksti {      /* asetetaan halutuille teksteille koko sekä teksteihin varjostus. Varjostus helpottee lukemista*/
    font-size: 2vmax;
    text-shadow: black 2px 2px 4px;  
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#mynav {
    background-color: #212529;
}
.varitetty {
    background-color: #212529f6;
    font-size: medium;
}
.navbar {
    font-size: large;
}
.nav-link {
    text-shadow: black 2px 2px 4px;
    
}

.navbarScroll.navbarDark {
    background-color: black;
}

.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{   /* animoidun nuolen asetukset .arrow spanista --> @keyframeihin asti  */
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #07d5f0a2;
    border-right: 5px solid #07d5f0a2;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
.carousel-caption {   /* karuselli css alkaa tästä */
    position: absolute;
    bottom: 1px;
    left: 15%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
  .galleriaKuva  {
   width: 80%;
   margin: auto;
}      
.carousel-control-prev,
.carousel-control-next{
      bottom: 10%;
}
.social-icons {
    font-size: 36px;        /* sosiaalisten iconien koko*/
    cursor: pointer;

}
.fa-instagram:hover, .fa-youtube:hover {
    color: #ffffff;         /* hoverina sosiaalisten iconit vaihtaa väriä valkoiseksi */
}
.fab {                      
    color: #000000;         /* muutetaan sosiaaliset iconit mustiksi niin sopivat paremmin sivulle */
}
#footer {
    background-color:#212529f6;
    text-align: center;  
}
.form-label, .lomakeTeksti{
    color: white;
}
.isompi {
    font-size: 5vmax;
}
.border{
    padding: 15px;  
}
iframe {
    display:block;
    width:100%;
}
p {
    color:white;
}
.btn {
    color: black;
    background-image: linear-gradient(
        to right,
        #462523 0,
               #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
        );
}
.card-top {
object-fit: cover;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

